<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details cookBook (4)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="data">
    <ion-card-header>
      <ion-card-title>
        {{ data.name }}
      </ion-card-title>
      <ion-card-subtitle>
        <!-- {{ data.website }} -->
        {{ data.instructions }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let i of data.interests">
        <!-- <ion-item *ngFor="let i of data.ingredients"> -->
          {{ i }}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>